body {
  font-size: 18px;
}

#simScreen {
  border: 1px solid black;
}

img {
  display: none;
}

.control {
  width: 1000px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#totalCells,
#resistantCells {
  height: 20px;
  width: 80px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

button {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

button:hover {
  cursor: pointer;
}

#startButton {
  background: rgb(4, 189, 4);
}

#startButton:hover {
  background: rgb(27, 214, 27);
  transition: 0.15s;
}

#stopButton {
  background: rgb(230, 8, 8);
}

#populateButton {
  background: rgb(113, 24, 230);
}

#populateButton:hover {
  background: rgb(143, 67, 243);
}

#stopButton:hover {
  background: rgb(250, 14, 14);
  transition: 0.15s;
}

.slideContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intensity {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: rgb(168, 167, 167);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#intensity:hover {
  opacity: 0.9;
}

#intensity::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3da1ff;
  cursor: pointer;
  opacity: 1;
}

#intensity::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3da1ff;
  cursor: pointer;
}
