* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#simScreen {
  border: 1px solid black;
  border-radius: 10px;
}

img {
  display: none;
}


.control {
  width: 1000px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.main-control
{
  width: 1000px;
  height: 120px;
  display: flex;
  align-items: center;
}

.control-section
{
  flex-grow: 1;
  min-width: 250px;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cells-info
{
  border: none;
}

.cells-info label
{
  font-weight: bold;
}

.cells-info div
{
  display: flex;
  justify-content: space-around;
  width:225px ;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
}

.cells-info input
{
  margin-left: 2px;
  border: solid 2px black;
  border-radius: 5px;
  height: 40px;
  width: 85px;
  padding-left: 5px;
  font-size: 20px;
}

.cells-info input:hover
{
  height: 45px;
  width: 90px;
  transition: 0.1s;
}

.celltype-info
{
  border-right: none;
}

.celltype-info h4
{
  font-size: 18px;
}

.celltype-info div
{
  width: 225px;
}

.celltype-info input
{
  width: 15px;
  height: 15px;
  accent-color: rgb(255, 166, 0);
}

.celltype-info input:hover
{
  width: 20px;
  height: 20px;
  transition: 0.1s;
}


button {
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

/*  */

button:hover {
  cursor: pointer;
}

.score-info
{
  border-right: none;
  justify-content: center;
}

.score-info input
{
  margin-left: 2px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
}

.score-info input:hover
{
  height: 45px;
  width: 205px;
  transition: 0.1s;
}

.score-info button
{
  width: 200px;
  height: 40px;
  background:rgb(255, 166, 0);
  font-weight: bold;
}

.score-info button:hover
{
  width: 205px;
  height: 45px;
  /* background:rgb(255, 192, 76); */
  transition: 0.1s;
}

#instructions-button
{
  padding: 0;
  color: rgb(0, 0, 201);
  background: none;
}

#instructions-button:hover
{
  color: rgb(40, 40, 250);
  font-size: 20px;
  transition: 0.1s;
}

.intensityControl {
  width: 1000px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.slideContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

#intensity {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;
  background: rgb(168, 167, 167);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#intensity:hover {
  opacity: 0.9;
}

#intensity::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  border-radius: 20%;
  background: #3da1ff;
  cursor: pointer;
  opacity: 1;
}

#intensity::-webkit-slider-thumb:hover
{
  width: 20px;
  height: 35px;
  transition: 0.1s;
}

#intensity::-moz-range-thumb {
  width: 15px;
  height: 30px;
  border-radius: 20%;
  background: #3da1ff;
  cursor: pointer;
}

#intensity::-moz-range-thumb:hover
{
  width: 20px;
  height: 35px;
  transition: 0.1s;
}

#intensityDisplay
{
  font-weight: bold;
  margin-bottom: 25px;
}


.modal
{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 2px solid rgb(24, 69, 59);
  width: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(24, 69, 59);
  color: white;
}

.modal-body {
  padding: 20px 20px;
  height: 700px;
  overflow: auto; /* Enable scroll if needed */
}

.modal-footer {
  padding: 2px 16px;
  background: rgb(24, 69, 59);
  color: white;
}

.modal-section
{
  margin-bottom: 50px;
  border-top: 1px solid black;
}

.modal-section img
{
  display: block;
  width: 100%;
}

.modal-section ul
{
  margin: 10px;
}

.modal-section .main-list
{
  margin: 10px;
}

.modal-section li
{
  list-style-type: none;
  /* margin: 5px auto; */
}

.main-list li
{
  margin: 20px auto;
}

.secondary-list li
{
  margin: 5px auto;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  margin:2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(195, 210, 207);
}

/* Track */
::-webkit-scrollbar-track:hover {
  background: rgb(164, 193, 187);
}

/* Handle */
::-webkit-scrollbar-thumb {
  margin:5px;
  background: rgba(24, 69, 59, 1);
  transition: opacity 1s;
}